<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<table class="table">
  <caption>List of users</caption>
  <thead>
    <tr>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>
        <button type="button" class="btn btn-warning btn-sm" (click)="editCar(valor)">Editar</button>
        <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteCar(valor)">Deletar</button>
      </td>
    </tr>
  </tbody>

</table>
<section>
  <div class="example-button-row">
    <button class="btn btn-primary"  [routerLink]="['/formCenario']">NOVO</button>
  </div>
</section>

